<div class="well well-small">
    <a id="myCart" asp-page="cart">
        <img src="~/user/themes/images/ico-cart.png" alt="cart">
        @ViewBag.countItem Items in your cart  
        <span class="badge badge-warning pull-right">$@ViewBag.subTotal</span>
    </a>
</div>