@page
@model Rookie.Ecom.Customer.Pages.ThanksModel
@{
	ViewData["Title"] = "Thanks";
}
<ul class="breadcrumb">
	<li><a asp-page="index">Home</a> <span class="divider">/</span></li>
	<li class="active"> Thanks</li>
</ul>
<h3>  Thanks for buying from my site <a asp-page="index" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>
